# SPDX-FileCopyrightText: 2025 Johann Christensen
#
# SPDX-License-Identifier: MIT
name: Build docker image and push

on:
  push:
    branches:
      - main
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: [latest, '3.10', 3.10-slim, '3.11', 3.11-slim, '3.12', 3.12-slim, '3.13', 3.13-slim]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          build-args: |
            PYTHON_VERSION=${{ matrix.tag }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/prek:${{ matrix.tag }}
